<div [ngStyle]="getGradientByType(pokemonData.types)" class="text-center pokemon-card mb-3 ms-5 me-5 ms-sm-0 me-sm-0 ms-xl-3 me-xl-3">
  <div class="pokemon-card--id pokemon-text font--20 ms-2 mt-2 fw-bold">{{changeIdFormat(pokemonData.id)}}</div>
  <img class="pokemon-card--img" src="{{pokemonData.image}}"/>
  <img class="pokemon-card--ball" src="assets/img/pokeball.png"/>
  <h3 class="pokemon-card--name pokemon-text pt-4 pb-2 font--23 fw-bold">{{changeNameFormat(pokemonData.name)}}</h3>
  <div class="d-flex justify-content-center ">
    <div class="pokemon-card--type" *ngFor="let type of pokemonData.types" [ngClass]="getColorByType(type.type.name)">{{type.type.name}}</div>
  </div>
</div>

