@import "./colors";
@font-face {
  font-family: 'PokemonSolid';
  src: url('./PokemonSolid.ttf');
}

@each $type, $color in $types {
  .type--#{$type}{
    background-color: $color;
    font-weight: 800;
    padding: 2px 18px;
    color: color($colors, white);
    text-transform: capitalize;
  }
}

.font {
  @for $i from 5 through 50 {
    &--#{$i} {
      font-size: #{$i}px !important;
    }
  }
}

body{
  //background-color: color($colors, theme) !important;
  color: color($colors, white) !important;
}

.pokemon-text{
  font-family: 'PokemonSolid';
  color: color($colors, yellow);
  text-shadow:
    color($colors, blue) 2px 0 0,
    color($colors, blue) 1.75517px 0.958851px 0,
    color($colors, blue) 1.0806px 1.68294px 0,
    color($colors, blue) 0.141474px 1.99499px 0,
    color($colors, blue) -0.832294px 1.81859px 0,
    color($colors, blue) -1.60229px 1.19694px 0,
    color($colors, blue) -1.97998px 0.28224px 0,
    color($colors, blue) -1.87291px -0.701566px 0,
    color($colors, blue) -1.30729px -1.5136px 0,
    color($colors, blue) -0.421592px -1.95506px 0,
    color($colors, blue) 0.567324px -1.91785px 0,
    color($colors, blue) 1.41734px -1.41108px 0,
    color($colors, blue) 1.92034px -0.558831px 0;
}
